.list-group-item {
  line-height: 2.5;
}

body,
html {
  height: 100%;
  background-image: url(../images/thumb-1920-252185.jpg);
}

.jumbotron-container {
  background-image: url(../images/Image\ from\ iOS.jpg);
  text-align: center;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.jumbotron-fluid {
  float: left;
  background-image: url(../images/logo.jpg);
  width: 100%;
  height: 320px;
  margin-top: 260px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: rgb(34, 38, 42);
  border-left: 0;
  border-right: 0;
}

.login-parent-div {
  background-image: url(../images/thumb-1920-252185.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.search-box-and-login {
  background-image: url(../images/light_noise_diagonal/light_noise_diagonal.png);
  height: 80%;
  width: 70%;
  margin-top: 60px;
  margin-left: 15%;
  margin-right: 15%;
  border-style: solid;
  border-color: black;
  border-radius: 25px;
  float: left;
  text-align: center;
}

h4 {
  margin-top: 10%;
}

.btn-secondary {
  margin-right: 20px;
  border-radius: 15px;
}

#log-in-button {
  width: 200px;
  height: 150px;
  margin-top: 150px;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 4ch;
  border-radius: 15px;
}

#log-in-form {
  padding-top: 300px;
  display: none;
}

#create-account-form {
  display: none;
}

.form-control {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.form-group {
  margin-top: 150px;
}

.btn-success {
  width: 200px;
  height: 150px;
  margin-top: 150px;
  margin-right: 15%;
  font-size: 4ch;
  border-radius: 15px;
}

.form-control {
  padding-right: 400px;
}

.btn-toolbar {
  margin-top: 15%;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.brewery-page-header {
  width: 100%;
  height: 300px;
  background-image: url(../images/logo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-style: solid;
  border-color: black;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.brewery-container {
  height: 100%;
  width: 100%;
  margin-bottom: 80px;
}

.w-90 {
  border-style: solid;
  border-color: black;
  margin-top: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.single-brewery-container {
  background-image: url(../images/light_noise_diagonal/light_noise_diagonal.png);
  width: 40%;
  height: 80%;
  margin-left: 10%;
  margin-top: 7%;
  float: left;
  border-style: solid;
  border-color: black;
}

.comments-container {
  background-image: url(../images/light_noise_diagonal/light_noise_diagonal.png);
  width: 40%;
  height: 80%;
  margin-right: 10%;
  margin-top: 7%;
  float: right;
  border-style: solid;
  border-color: black;
}

.navbar-light {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: url(../images/light_noise_diagonal/light_noise_diagonal.png);
  border-style: solid;
  border-color: rgb(34, 38, 42);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.copyright {
  margin-right: 50%;
}

#mobile-jumbotron{
  display: none;
}

@media only screen and (max-width: 600px) {
  body,
  html {
    background-image: none;
  }
  .jumbotron-fluid {
    display: none;
  }
  .login-parent-div {
    background-image: none;
  }
  .search-box-and-login{
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  #search-brewery-button, #create-account-button, #search-brewery-button{
    margin: 0;
  }
  #search-brewery-button{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
  }
  #log-in-button, #create-account-button{
    margin-top: 10%;
  }
  #create-account-button{
    margin-left: 45px;
  }
  .form-group{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .form-control{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .copyright {
    float: right;
    margin: 0;
  }
  #mobile-jumbotron {
    display: inline;
    background-image: none;
    margin: 0;
    height: 20%;
    text-align: center;
    opacity: 0.7;
    border-style: solid;
    border-color: black;
    margin-top: 200px;
  }
  .navbar-light{
    opacity: 0.7;
    height: 10%;
  }
}